<%-include( "../Templates/header" )%>
    <title>I tuoi Corsi</title>
    <link rel="stylesheet" href="../Styles/corsi.css">
    </head>

    <body>
        <%-include( "../Templates/navbar" )%>
            <%-include( "../Templates/flash" )%>
                <% function filtraArray(categoria) { const array=[]; %>
                    <% for (corso of corsi) { if (corso.categoria===categoria) { %>
                        <% array.push(corso); } } return array} %>
                            <div class="contenitore">
                                <h1> I tuoi corsi </h1>
                                <div class="riga">
                                    <% const corsiMindset=filtraArray("mindset"); %>
                                        <% if(corsiMindset.length>=1){ %>
                                            <h5>
                                                Mindset
                                            </h5>
                                            <div class="mensola">

                                                <% for (corso of corsiMindset){ %>
                                                    <div class="libro">
                                                        <h6>
                                                            <%=corso.titolo %>
                                                        </h6>
                                                        <a href="<%=corso._id%>/videoLezione"><img
                                                                src="<%=corso.immagine  %>" alt=""></a>
                                                    </div>
                                                    <% } %>

                                            </div>
                                            <% } %>
                                </div>
                                <div class="riga">
                                    <% const corsiObbiettivi=filtraArray("obbiettivi"); %>
                                        <% if(corsiObbiettivi.length>=1){ %>
                                            <h5>
                                                Obbiettivi
                                            </h5>
                                            <div class="mensola">

                                                <% for (corso of corsiObbiettivi){ %>
                                                    <div class="libro">
                                                        <h6>
                                                            <%=corso.titolo %>
                                                        </h6>
                                                        <a href="<%=corso._id%>/videoLezione"><img
                                                                src="<%=corso.immagine  %>" alt=""></a>
                                                    </div>
                                                    <% } %>

                                            </div>
                                            <% } %>
                                </div>
                                <div class="riga">
                                    <% const corsiFinanza=filtraArray("finanza"); %>
                                        <% if(corsiFinanza.length>=1){ %>
                                            <h5>
                                                Finanza
                                            </h5>
                                            <div class="mensola">
                                                <h6>
                                                    <%=corso.titolo %>
                                                </h6>

                                                <% for (corso of corsiFinanza){ %>
                                                    <div class="libro">
                                                        <a href="<%=corso._id%>/videoLezione"><img
                                                                src="<%=corso.immagine  %>" alt=""></a>
                                                    </div>
                                                    <% } %>

                                            </div>
                                            <% } %>
                                </div>
                                <div class="riga">
                                    <% const corsiRistorante=filtraArray("ristorante"); %>
                                        <% if(corsiRistorante.length>=1){ %>
                                            <h5>
                                                Ristorante
                                            </h5>
                                            <div class="mensola">

                                                <% for (corso of corsiRistorante){ %>
                                                    <div class="libro">
                                                        <h6>
                                                            <%=corso.titolo %>
                                                        </h6>
                                                        <a href="<%=corso._id%>/videoLezione"><img
                                                                src="<%=corso.immagine  %>" alt=""></a>
                                                    </div>
                                                    <% } %>

                                            </div>
                                            <% } %>
                                </div>
                                <div class="riga">
                                    <% const corsiMarketing=filtraArray("marketing"); %>
                                        <% if(corsiMarketing.length>=1){ %>
                                            <h5>
                                                Marketing
                                            </h5>
                                            <div class="mensola">

                                                <% for (corso of corsiMarketing){ %>
                                                    <div class="libro">
                                                        <h6>
                                                            <%=corso.titolo %>
                                                        </h6>
                                                        <a href="<%=corso._id%>/videoLezione"><img
                                                                src="<%=corso.immagine  %>" alt=""></a>
                                                    </div>
                                                    <% } %>

                                            </div>
                                            <% } %>
                                </div>
                                <div class="riga">
                                    <% const corsiServizio=filtraArray("servizio"); %>
                                        <% if(corsiServizio.length>=1){ %>
                                            <h5>
                                                Servizio
                                            </h5>
                                            <div class="mensola">

                                                <% for (corso of corsiServizio){ %>
                                                    <div class="libro">
                                                        <h6>
                                                            <%=corso.titolo %>
                                                        </h6>
                                                        <a href="<%=corso._id%>/videoLezione"><img
                                                                src="<%=corso.immagine  %>" alt=""></a>
                                                        <div class="libro">
                                                            <% } %>
                                                        </div>
                                                        iv>
                                                    </div>

                                                    <% } %>
                                            </div>

    </body>

    </html>