<%-include( "../Templates/header" )%>
    <title>
        <%=corso.titolo %>
    </title>
    <link rel="stylesheet" href="../Styles/videoLezione.css">
    </head>

    <body>
        <%-include( "../Templates/navbar" )%>
            <%-include( "../Templates/flash" )%>
                <h1>
                    <%=corso.titolo %>
                </h1>
                <div class="contenitore">

                    <div class="card" style="width: 18rem;">
                        <div id="messaggio"> Contenuto protetto da Copyright</div>

                        <div class="card-body">
                            <video id="videoPlayer" src="<%=videoLezioni[0].link%>" frameborder=" 0" controls
                                controlsList="nodownload" allowfullscreen>
                            </video>
                        </div>
                        <div class="bottoni">
                            <div>
                                <button id="btnPlay"> Play</button>
                            </div>
                            <div>
                                <button id="btnPause"> Pausa</button>
                            </div>
                            <div>
                                <button id="btnNext"> Prossimo Video</button>
                            </div>
                        </div>
                    </div>

                    <% if (videoLezioni.length>=2){ %>
                        <aside id="playlist">

                            <% for (video of videoLezioni){ %>

                                <div class="videoLezione" dataLink="<%=video.link%>">
                                    <%=video.titolo %>
                                </div>
                                <% } %>

                        </aside>
                        <% } %>
                </div>
                <script src="../Scripts/videoLezione.js"></script>
    </body>

    </html>